<canvas 
    #drawImage 
    (mousedown)="mouseDown($event)"
    (mousemove)="mouseMove($event)"
    (mouseup)="mouseUp($event)"
    (touchstart)="touchStart($event)"
    (touchmove)="touchMove($event)"
    (touchend)="touchEnd($event)"
    style="max-width: 100%;max-height:100%;"
></canvas>
<div class="text-center my-3">
  <p>{{ message }}</p>
  <a href="javascript: void(0)" download="Image.png" class="btn btn-success" role="button" aria-pressed="true" (click)="saveImage($event)">下載</a>
  <button class="btn btn-primary" type="button" (click)="uploadImage()">上傳</button>
</div>